RewriteEngine on

# Позволяет обращаться к файлам (-f) напрямую, вместо передачи в $_GET['chpu']
RewriteCond %{REQUEST_FILENAME} !-f

# Помещает в $_GET['chpu'] всё, что вписано в адресную строку начиная от корня сайта
RewriteRule .* index.php?chpu=$0 [QSA]

<FilesMatch "\.(php)$">
	Deny from all
</FilesMatch>

<FilesMatch "index.(php)$">
	Allow from all
</FilesMatch>

<FilesMatch "v_403.(php)$">
	Allow from all
</FilesMatch>

# Перенаправляет на страницу v_403.php в случае ошибки 403
ErrorDocument 403 http://%{HTTP_HOST}/lesson5/views/v_403.php